.header {
    position: sticky;
    top: 0;

    z-index: 100;

    padding: 5px;

    background-color: #5C00B8;
}

.header-box {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.header-img-link:hover {
    cursor: pointer;
    background-color: transparent;
    transition: none;
    padding: 0px;
}

h1.header-title {
    font-style: italic;
    font-weight: 550;
    color: #F0EFF4;
    padding-left: 25px;
}

div.lista-nav {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
}

a.botao-nav {
    padding: 10px 20px;
    border-radius: 25px;

    font-family: "Noto Sans", sans-serif;
    font-size: 0.9em;
    font-weight: bold;

    text-transform: uppercase;
    
    color: #6600CC;
    background-color: #F0EFF4;
}

a.botao-nav:hover {
    color: #F0EFF4;
    background-color: #6600CC;
    transition: 0.3s ease-in;
}

@media (max-width: 480px) {

    .header {
    position: static;

    padding: 5px;

    background-color: #5C00B8;
}

    .header-box {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

    div.lista-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 10px;
    gap: 15px;
    }

    a.botao-nav {
        width: 100%;
        text-align: center;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    .header {
    position: static;

    padding: 5px;

    background-color: #5C00B8;
}

    .header-box {
        max-width: 90%;
    }

    div.lista-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


        margin: 10px;
        gap: 15px;
    }

    a.botao-nav {
        width: 95%;
        text-align: center;
    }

}

@media (min-width: 769px) and (max-width: 1279px) {

    .header-box {

        width: 90%;
    
}

}