div.react-photo-album, div.react-photo-album--rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 25px;

    width: 100%;
}

.yarl__slide_description {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;

}

.yarl__slide_captions_container, .yarl__slide_description_container {

    background-color: #000;
    width: 100%;

}