div.booklist-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

.tabs-root {
    width: 100%;
    margin: 0px auto 50px auto;
}

.tabs-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 20px;
    padding: 15px;

    background-color: #F0EFF4;
    border-radius: 10px

}

.tabs-trigger {
    padding: 15px 50px;
    border-radius: 30px;
    border: none;

    cursor: pointer;

    width: 250px;
    margin: 25px;

    font-family: "DM Serif Display", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    
    color: #F0EFF4;
    background-color: #6600CC;
}

.tabs-trigger[data-state="inactive"] {
    color: #6600CC;
    background-color: #fff;
}

.tabs-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 50px;
}


div.card-tablivro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    max-width: 1000px;
    padding: 50px;
    gap: 25px;

    background-color: #fff;
    border-radius: 25px;
}

div.tablivro-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 700px;
}

div.tabbotoes-box {
    padding: 10px;
    margin: 25px;
}